{% comment %}
  Usage: {% render 'social-icons' %}
{% endcomment %}

<ul class="lg-social-icons">
  {%- unless settings.instagram-url == blank -%}
    <li>
      <a href="{{ settings.instagram-url }}">
        {% render 'icons', icon: 'instagram' %}
      </a>
    </li>
  {%- endunless -%}
  {%- unless settings.facebook-url == blank -%}
    <li>
      <a href="{{ settings.facebook-url }}">
        {% render 'icons', icon: 'facebook' %}
      </a>
    </li>
  {%- endunless -%}
  {%- unless settings.reddit-url == blank -%}
    <li>
      <a href="{{ settings.reddit-url }}">
        {% render 'icons', icon: 'reddit' %}
      </a>
    </li>
  {%- endunless -%}
  {%- unless settings.threads-url == blank -%}
    <li>
      <a href="{{ settings.threads-url }}">
        {% render 'icons', icon: 'threads' %}
      </a>
    </li>
  {%- endunless -%}
  {%- unless settings.tiktok-url == blank -%}
    <li>
      <a href="{{ settings.tiktok-url }}">
        {% render 'icons', icon: 'tiktok' %}
      </a>
    </li>
  {%- endunless -%}
  {%- unless settings.pinterest-url == blank -%}
    <li>
      <a href="{{ settings.pinterest-url }}">
        {% render 'icons', icon: 'pinterest' %}
      </a>
    </li>
  {%- endunless -%}
  {%- unless settings.linkedin-url == blank -%}
    <li>
      <a href="{{ settings.linkedin-url }}">
        {% render 'icons', icon: 'linkedin' %}
      </a>
    </li>
  {%- endunless -%}
</ul>