{% assign ab_height = 20 %}
{% assign owl_width = 380 %}
{% assign owl_height = 20 %}

{%- style -%}
  .lg-announcement-bar {
    .lg-row {
      height: 40px;
      align-items: center;
      justify-content: space-between;
      column-gap: 0;
    }
    .lg-social, .lg-login {
      width: 145px;
    }
    .lg-col {
      display: flex;
      align-items: center;
    }
    .lg-login {
      justify-content: end;
      a {
        color: {{ green }};
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .lg-announcement {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: {{ ab_height }}px;
    .lg-announcement-carousel {
      transform: rotate3d(0, 0, 1, 90deg);
      width: {{ owl_width }}px;
      .owl-stage-outer {
        padding: calc(({{ owl_width }}px - {{ owl_height }}px) / 2) 0;
        width: calc(({{ owl_width }}px + {{ ab_height }}px) / 2);
      }
      .item {
        font-size: 15px;
        transform: rotate3d(0, 0, 1, -90deg);
        text-align: center;
        line-height: {{ owl_height }}px;
      }
    }
  }
  @media screen and (max-width:767px) {
    .lg-announcement-bar {
      .lg-col.lg-social, .lg-col.lg-login {
        display: none;
      }
      .lg-row {
        justify-content: center;
      }
    }
  }
{%- endstyle -%}

<div class="lg-announcement-bar {{ section.settings.background-color }}">
  <div class="lg-row">
    <div class="lg-col lg-social">
      {% render 'social-icons' %}
    </div>
    <div class="lg-col lg-announcement">
      <div class="lg-announcement-carousel owl-carousel">
        {%- for block in section.blocks -%}
          <div class="item">
            {{ block.settings.text }}
          </div>
        {%- endfor -%}
      </div>
    </div>
    <div class="lg-col lg-login">
      {%- if shop.customer_accounts_enabled -%}
        <a class="display" href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" rel="nofollow">Login</a>
      {%- endif -%}
    </div>
  </div>
</div>

{% if section.settings.slide-speed == 1 %}
  <script>let speed = 1000;</script>
{% elsif section.settings.slide-speed == 2 %}
  <script>let speed = 2000;</script>
{% elsif section.settings.slide-speed == 3 %}
  <script>let speed = 3000;</script>
{% elsif section.settings.slide-speed == 4 %}
  <script>let speed = 4000;</script>
{% elsif section.settings.slide-speed == 5 %}
  <script>let speed = 5000;</script>
{% elsif section.settings.slide-speed == 6 %}
  <script>let speed = 6000;</script>
{% elsif section.settings.slide-speed == 7 %}
  <script>let speed = 7000;</script>
{% elsif section.settings.slide-speed == 8 %}
  <script>let speed = 8000;</script>
{% elsif section.settings.slide-speed == 9 %}
  <script>let speed = 9000;</script>
{% elsif section.settings.slide-speed == 10 %}
  <script>let speed = 10000;</script>
{% elsif section.settings.slide-speed == 11 %}
  <script>let speed = 11000;</script>
{% elsif section.settings.slide-speed == 12 %}
  <script>let speed = 12000;</script>
{% elsif section.settings.slide-speed == 13 %}
  <script>let speed = 13000;</script>
{% elsif section.settings.slide-speed == 14 %}
  <script>let speed = 14000;</script>
{% elsif section.settings.slide-speed == 15 %}
  <script>let speed = 15000;</script>
{% endif %}

{% javascript %}
  $('.lg-announcement-carousel').owlCarousel({
    items: 1,
    loop: true,
    nav: false,
    margin: 0,
    autoplay: true,
    autoplayHoverPause: true,
    autoplayTimeout: speed,
    mouseDrag: false,
    touchDrag: false,
    pullDrag: false,
    dots: false
  });
{% endjavascript %}

{% schema %}
{
  "name": "Announcement Bar",
  "max_blocks": 5,
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "select",
      "id": "background-color",
      "options": [
        {
          "value": "bg-dark",
          "label": "Dark"
        },
        {
          "value": "bg-light",
          "label": "Light"
        },
        {
          "value": "",
          "label": "White"
        },
      ],
      "default": "bg-dark",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "Announcements"
    },
    {
      "type": "range",
      "id": "slide-speed",
      "min": 1,
      "max": 15,
      "step": 1,
      "unit": "s",
      "label": "Rotation Speed",
      "default": 5
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Welcome to Pinultimate",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
