{% style %}
.lg-faqs {
  .lg-section-header {
    margin-bottom: 60px;
    .lg-faq-buttons {
      column-gap: 0;
      margin-top: 30px;
      button {
        height: 40px;
        border-radius: 0;
        border: none;
        font-size: 14px;
        padding: 0 15px;
        background: {{ settings.color-light-darkest }};
        color: {{ settings.color-darkgray }};
        cursor: pointer;
        &.active {
          background: {{ settings.color-white }};
          color: {{ settings.color-dark-text }};
          font-weight: 600;
          border: 1px solid {{ settings.color-light-darkest }};
          margin-right: -1px;
          &:not(:first-child) {
            margin-left: 0;
          }
          &:after {
            content: "";
            height: 8px;
            width: 8px;
            margin-left: 15px;
            margin-right: 2px;
            top: -0.5px;
            background: {{ settings.color-green }};
            border-radius: 50%;
            position: relative;
            display: inline-block;
            outline-width: 1.5px;
            outline-style: solid;
            outline-offset: 3px;
            animation: outline-pulsate 2s infinite;
          }
        }
        &:not(:first-child) {
          margin-left: 1px;
        }
        &:first-child {
          border-radius: 14px 0 0 14px;
        }
        &:last-child {
          border-radius: 0 14px 14px 0;
        }
      }
    }
  }
  .lg-page-content div {
    h3:not(:first-child) {
      margin-top: 60px;
    }
  }
  .lg-card {
    background: #fff;
    padding: 30px;
    border-radius: 14px;
    margin: 15px 0;
    h4, p {
      margin-bottom: 0.5em;
    }
    .metafield-rich_text_field p:last-child {
      margin-bottom: 0;
    }
  }
}
@keyframes outline-pulsate {
    0%   { outline-color: {{ settings.color-green }}; }
    50%  { outline-color: {{ settings.color-green }}00; }
    100% { outline-color: {{ settings.color-green }}; }
}
@media screen and (max-width: 479px) {
  .lg-faqs .lg-section-header .lg-faq-buttons button {
    padding: 0 12px;
    &.active {
      padding-left: 0 15px;
      &:after {
        margin-left: 12px;
      }
    }
  }
}
{% endstyle %}

<div class="lg-faqs {{ section.settings.background-color }}">
  <div class="lg-row">

    <div class="lg-page-content lg-col">
      <div class="lg-section-header">
        <h2>Frequently Asked Questions</h2>
        <div class="lg-faq-buttons">
          <button id="retail-button" class="active">Retail</button>
          <button id="custom-button">Custom</button>
          <button id="wholesale-button">Wholesale</button>
          <button id="business-button">Business</button>
        </div>
      </div>
      {% capture sections %}
        Retail: Orders, Shipping, Delivery, Returns, Inventory, Feedback;
        Custom: Orders, Shipping;
        Wholesale: ;
        Business: ;
      {% endcapture %}
      {% assign sections = sections | split: ";" %}
      {% for section in sections %}
        {% assign section_data = section | split: ": " %}
        {% assign section_type = section_data[0] | strip %}
        {% assign section_categories = section_data[1] | split: ", " %}
        <div id="{{ section_type | downcase }}" hidden>
          {% for category in section_categories %}
            <h3>{{ category }}</h3>
            {% for question in metaobjects.faq.values %}
              {% for type in question.type.value %}
                {% if type == section_type %}
                  {% if question.category == category %}
                  <div class="lg-card">
                    <h4>{{ question.question }}</h4> 
                    <p>{{ question.answer | metafield_tag }}</p>
                  </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    
  </div>
</div>

{% javascript %}
  let retail = document.getElementById("retail");
  let custom = document.getElementById("custom");
  let wholesale = document.getElementById("wholesale");
  let business = document.getElementById("business");
  if (retail.hidden) {
    retail.hidden = !retail.hidden;
  }
  document.getElementById("retail-button").addEventListener("click", function() {
    document.querySelectorAll(".lg-faq-buttons button").forEach(function(button) {
      button.classList.remove("active");
    });
    this.classList.add("active");
    if (retail.hidden) {
      retail.hidden = !retail.hidden;
    }
    if (!custom.hidden) {
      custom.hidden = !custom.hidden;
    } else if (!wholesale.hidden) {
      wholesale.hidden = !wholesale.hidden;
    } else if (!business.hidden) {
      business.hidden = !business.hidden;
    }
  });
  document.getElementById("custom-button").addEventListener("click", function() {
    document.querySelectorAll(".lg-faq-buttons button").forEach(function(button) {
      button.classList.remove("active");
    });
    this.classList.add("active");
    if (custom.hidden) {
      custom.hidden = !custom.hidden;
    }
    if (!retail.hidden) {
      retail.hidden = !retail.hidden;
    } else if (!wholesale.hidden) {
      wholesale.hidden = !wholesale.hidden;
    } else if (!business.hidden) {
      business.hidden = !business.hidden;
    }
  });
  document.getElementById("wholesale-button").addEventListener("click", function() {
    document.querySelectorAll(".lg-faq-buttons button").forEach(function(button) {
      button.classList.remove("active");
    });
    this.classList.add("active");
    if (wholesale.hidden) {
      wholesale.hidden = !wholesale.hidden;
    }
    if (!retail.hidden) {
      retail.hidden = !retail.hidden;
    } else if (!custom.hidden) {
      custom.hidden = !custom.hidden;
    } else if (!business.hidden) {
      business.hidden = !business.hidden;
    }
  });
  document.getElementById("business-button").addEventListener("click", function() {
    document.querySelectorAll(".lg-faq-buttons button").forEach(function(button) {
      button.classList.remove("active");
    });
    this.classList.add("active");
    if (business.hidden) {
      business.hidden = !business.hidden;
    }
    if (!retail.hidden) {
      retail.hidden = !retail.hidden;
    } else if (!custom.hidden) {
      custom.hidden = !custom.hidden;
    } else if (!wholesale.hidden) {
      wholesale.hidden = !wholesale.hidden;
    }
  });
{% endjavascript %}

{% schema %}
{
  "name": "FAQs",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "background-color",
      "options": [
        {
          "value": "",
          "label": "White"
        },
        {
          "value": "bg-light",
          "label": "Light"
        }
      ],
      "default": "bg-light",
      "label": "Background Color"
    }
  ],
  "presets": [
    {
      "name": "FAQs"
    }
  ]
}
{% endschema %}
