{%- style -%}
.lg-footer-paper path {
  fill: {% if section.settings.background-color == "bg-dark" %}#14452f{% elsif section.settings.background-color == "bg-light" %}#F4F3F2{% else %}#FFF{% endif %};
}
footer hr {
  background: {% if section.settings.background-color == "bg-dark" %}#14452f{% else %}#969696{% endif %};
  border-color: {% if section.settings.background-color == "bg-dark" %}rgba(255, 255, 255, 0.1){% else %}rgba(255, 255, 255, 0.65){% endif %};
}
{%- endstyle -%}

<footer>
  <div id="makers" class="visually-hidden">
    {%- liquid
      for collection in collections
        if collection.title == "Enamel Pins"
          echo collection.all_vendors.size
        endif
      endfor
    -%}
  </div>
  <div id="yib" class="visually-hidden">
    {%- liquid
      assign year_now = 'now' | date: '%Y' | plus: 0
      assign month_now = 'now' | date: '%m' | plus: 0
      assign year_started = 2018
      assign month_started = 6
      assign day_started = 23
      if month_now > month_started
        echo year_now | minus: year_started
      elsif month_now == month_started
        assign day_now = 'now' | date: '%d' | plus: 0
          if day_now >= day_started
            echo year_now | minus: year_started
          else
            echo year_now | minus: 1 | minus: year_started
          endif
      else
        echo year_now | minus: 1 | minus: year_started
      endif
    -%}
  </div>
  <section class="lg-footer-paper">
    {% render 'footer-paper' %}
  </section>
  <section class="lg-footer-signup {{ section.settings.background-color }}">
    <div class="lg-row lg-grid-2">
      <div class="lg-col">
        <h3>Let’s be Pin Pals!</h3>
        <p>Be the first to hear about new arrivals, exclusive sales, freebies, & other fun things.</p>
        <div class="lg-klaviyo-container">
          <div class="klaviyo-form-SCuW8P"></div>
        </div>
        <p class="small">By signing up, you agree with our <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a>.</p>
      </div>
    </div>
  </section>
  <section class="lg-footer {{ section.settings.background-color }}">
    <div class="lg-row lg-grid-{{ section.blocks.size | plus: 1 }}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}

          {%- when 'reviews' -%}
            <div class="lg-col lg-grow lg-review-count">
              <div class="ssw-html-widget ssw-reviews-badge-widget" data-module="recommendation" data-name="ReviewsBadge"></div>
              <h4>
                {% for i in (1..5) %}
                  {% render 'icons', icon: 'star' %}
                {% endfor %}
              </h4>
              <ul>
                <li>5.0 Star Rating based on <span class="review-count">400+</span> Reviews</li>
                <li><a href="/pages/reviews">All Reviews</a></li>
              </ul>
            </div>

          {%- when 'menu-list' -%}
            <div class="lg-col lg-menu-list">
              {%- if block.settings.menu != blank -%}
                <h4>{{- block.settings.menu.title -}}</h4>
                <ul>
                  {%- for link in block.settings.menu.links -%}
                    <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>

        {%- endcase -%}
      {%- endfor -%}
    </div>
  </section>
  <hr>
  <section class="lg-copyright {{ section.settings.background-color }}">
    <div class="lg-row lg-grid-3">
      <div class="lg-col lg-menu">
        <ul>
          <li><a href="/policies/terms-of-service">Terms of Service</a></li>
          <li><a href="/policies/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="lg-col lg-social">
        {% render 'social-icons' %}
      </div>
      <div class="lg-col lg-copy">
        <p>&copy; 2018–{{ 'now' | date: '%Y' }} Pinultimate, LLC</p>
      </div>
    </div>
  </section>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "reviews",
      "name": "Reviews"
    },
    {
      "type": "menu-list",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "Displays top-level menu items."
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "background-color",
      "options": [
        {
          "value": "bg-dark",
          "label": "Dark"
        },
        {
          "value": "bg-light",
          "label": "Light"
        },
        {
          "value": "",
          "label": "White"
        },
      ],
      "default": "bg-dark",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "menu-list"
      }
    ]
  }
}
{% endschema %}
