{% comment %} <link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'"> {% endcomment %}

<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<sticky-header data-sticky-type="always" class="header-wrapper">

  <header>

    <div id="lg-jumbo-menu" class="bg-dark" hidden>
      <div class="lg-row lg-grid-2"> 
        <div class="lg-col lg-intro">
          <div class="logo-flag">{% render 'logos', logo: 'logo-flag' %}</div>
          <div class="lg-card">X</div>
          {% render 'social-icons' %}
        </div>
        <nav class="lg-col lg-menu-links">
          <ol role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                <a href="{{ link.url }}" {% if link.current %}class="lg-active"{% endif %}>
                  {{- link.title | escape -}}
                </a>
              </li>
            {%- endfor -%}
            {%- if shop.customer_accounts_enabled -%}
              <li class="lg-login">
                <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" rel="nofollow">
                  Login
                </a>
              </li>
            {%- endif -%}
          </ol>
          {% render 'social-icons' %}
        </nav>
      </div>
    </div>

    <div class="lg-nav-bar lg-row lg-grid-4">
      <div id="lg-menu-toggle">
        <input type="checkbox" />
        <span></span><span></span><span></span>
      </div>
      <div class="lg-col lg-logo">
        <a href="{{ routes.root_url }}">
          {% render 'logos', logo: 'logo-main' %}
        </a>
      </div>
      <div class="lg-col lg-main-nav">        
        <nav>
          <ul role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                <a href="{{ link.url }}" {% if link.current %}class="lg-active"{% endif %}>
                  {{- link.title | escape -}}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      </div>
      <div class="lg-col lg-icons">



        <details-modal>
          <details>


            <summary class="" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
                {% render 'icons', icon: 'search' %}
            </summary>


            <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
              <div class="modal-overlay"></div>

              <div class="lg-row" tabindex="-1">
                <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
                  <form action="{{ routes.search_url }}" method="get" role="search">
                    <div class="field">
                      {% render 'icons', icon: 'search' %}
                      <input class="search__input field__input" id="Search-In-Modal" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.search' | t }}" role="combobox" aria-expanded="false" aria-owns="predictive-search-results" aria-controls="predictive-search-results" aria-haspopup="listbox" aria-autocomplete="list" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false">  
                      <label class="visually-hidden" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                      <input type="hidden" name="options[prefix]" value="last">
                      <button type="reset" class="visually-hidden" aria-label="{{ 'general.search.reset' | t }}"></button>
                    </div>
                    <div class="predictive-search" tabindex="-1" data-predictive-search>
                      {%- render 'loading-spinner' -%}
                    </div>
                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  </form>

                </predictive-search>


                <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </button>


              </div>
            </div>


            
          </details>
        </details-modal>



        <a href="#" class="lg-wishlist">
          {% render 'icons', icon: 'heart' %}
        </a>
        <a href="{{ routes.cart_url }}" id="cart-icon-bubble">
          {% render 'icons', icon: 'cart' %}
          <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
          {%- if cart != empty -%}
            <div class="cart-count-bubble">
              {%- unless cart.item_count > 99 -%}
                <span aria-hidden="true">{{ cart.item_count }}</span>
              {%- endunless -%}
              <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
            </div>
          {%- endif -%}
        </a>
      </div>
    </div>
  </header>
</sticky-header>

<script>
  document.querySelector('#lg-menu-toggle').addEventListener('click', function() {
    let menu = document.querySelector('#lg-jumbo-menu');
    if (menu.hidden) {
      document.body.classList.add('paralyze');
    } else if (!menu.hidden) {
      document.body.classList.remove('paralyze');
    }
    menu.hidden = !menu.hidden;
  });
  window.addEventListener('scroll', function() {
    document.body.style.setProperty('--scroll', window.pageYOffset);
    let px = parseInt(document.body.style.cssText.replace(';', '').split(' ')[1]);
    if (px > 40) {
      document.querySelector('.section-header').classList.add('animate');
    } else {
      document.querySelector('.section-header').classList.remove('animate');
    }
  }, false);
</script>

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__7.content",
      "info": "t:sections.header.settings.header__7.info"
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "t:sections.header.settings.enable_customer_avatar.label",
      "info": "t:sections.header.settings.enable_customer_avatar.info"
    }
  ]
}
{% endschema %}
