{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{% comment %} {{ 'component-collection-hero.css' | asset_url | stylesheet_tag }} {% endcomment %}

<section id="{{ section.id }}" class="lg-page-banner {{ section.settings.background-color }}">
  <div class="lg-row lg-grid-4">
    <div class="lg-col lg-banner-details lg-grow">
      <h1>{{- collection.title | escape -}}</h1>
      {%- if collection.description != blank -%}
        <p>{{ collection.description }}</p>
      {%- endif -%}
    </div>
    <div class="lg-col lg-highlight-1">
      <a href="#" class="lg-card lg-collection-card">
        <div class="lg-card-image">
          <div class="lg-image-container">
            <img src="https://picsum.photos/400/500" alt="">
          </div>
        </div>
        <div class="lg-card-details">
          <h4>Title of Thing</h4>
        </div>
      </a>
    </div>
    <div class="lg-col lg-highlight-2">
      <a href="#" class="lg-card lg-collection-card">
        <div class="lg-card-image">
          <div class="lg-image-container">
            <img src="https://picsum.photos/500/400" alt="">
          </div>
        </div>
        <div class="lg-card-details">
          <h4>Title of Thing</h4>
        </div>
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "background-color",
      "options": [
        {
          "value": "bg-dark",
          "label": "Dark"
        },
        {
          "value": "bg-light",
          "label": "Light"
        }
      ],
      "default": "bg-light",
      "label": "Background Color"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    }
  ]
}
{% endschema %}
