{% comment %} {{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%} {% endcomment %}

<section class="lg-page-banner {{ section.settings.background-color }}">
  <div class="lg-row lg-grid-4">
    <div class="lg-col lg-banner-details lg-grow">
      <h1>{{ page.title | escape }}</h1>
      {% if template.suffix == "reviews" %}
        <div>
          <div class="lg-stars">
            {% for i in (1..5) %}
              {% render 'icons', icon: 'star' %}
            {% endfor %}
          </div>
          <p>5.0 Star Rating based on <span class="review-count">400+</span> Reviews</p>
        </div>
      {% else %}
        {% if section.settings.description != blank %}
          <p>{{ section.settings.description }}</p>
        {% endif %}
      {% endif %}
    </div>
    <div class="lg-col lg-highlight-1">
      <a href="#" class="lg-card lg-collection-card">
        <div class="lg-card-image">
          <div class="lg-image-container">
            <img src="https://picsum.photos/400/500" alt="">
          </div>
        </div>
        <div class="lg-card-details">
          <h4>Title of Thing</h4>
        </div>
      </a>
    </div>
    <div class="lg-col lg-highlight-2">
      <a href="#" class="lg-card lg-collection-card">
        <div class="lg-card-image">
          <div class="lg-image-container">
            <img src="https://picsum.photos/500/400" alt="">
          </div>
        </div>
        <div class="lg-card-details">
          <h4>Title of Thing</h4>
        </div>
      </a>
    </div>
  </div>
</section>

{% unless template.suffix == "about" %}
  <section class="{% if template.suffix == "reviews" %}bg-light{% endif %}">
    <div class="lg-row">
      <div class="lg-page-content lg-col">
        {{ page.content }}
      </div>
    </div>
  </section>
{% endunless %}

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "background-color",
      "options": [
        {
          "value": "bg-dark",
          "label": "Dark"
        },
        {
          "value": "bg-light",
          "label": "Light"
        }
      ],
      "default": "bg-light",
      "label": "Background Color"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "Description"
    }
  ]
}
{% endschema %}
