{% comment %} {{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-related-products.css' | asset_url | stylesheet_tag }} {% endcomment %}

{% style %}
.lg-recommended {
  padding-top: {{ settings.row-padding }}px;
  padding-bottom: {{ settings.row-padding }}px;
  align-items: center;
  .lg-col {
    width: calc(((100% - ({{ settings.col-gap }}px * 4)) / 5) * 1);
    &:not(.lg-content) {
      height: 100%;
      align-self: start;
    }
  }
  .lg-content {
    width: calc(((100% - ({{ settings.col-gap }}px * 4)) / 5) * 2 + {{ settings.col-gap }}px);
    padding-right: 80px;
  }
}
.bg-light .lg-card-intro {
  background: #fff;
}
{% endstyle %}

<div class="{{ section.settings.background-color }}">
  <product-recommendations
    class="related-products"
    data-url="{{ routes.product_recommendations_url }}?limit={{ section.settings.products_to_show }}"
    data-section-id="{{ section.id }}"
    data-product-id="{{ product.id }}"
  >
    <div class="lg-recommended lg-row">
      <div class="lg-col lg-content">
        <h2>{{ section.settings.heading }}</h2>
        <p>{{ section.settings.content }}</p>
      </div>
      {% comment %} <div class="lg-slider"> {% endcomment %}
        {% if recommendations.performed and recommendations.products_count > 0 %}
          {% comment %} <div
            class="lg-recommended-carousel owl-carousel owl-theme product-grid"
          > {% endcomment %}
            {% for recommendation in recommendations.products %}
              <div class="lg-col">
                {% render 'card-product',
                  card_product: recommendation
                %}
              </div>
            {% endfor %}
          {% comment %} </div> {% endcomment %}
        {% endif %}
      {% comment %} </div> {% endcomment %}
    </div>
  </product-recommendations>
</div>

{% schema %}
{
  "name": "t:sections.related-products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "background-color",
      "options": [
        {
          "value": "bg-light",
          "label": "Light"
        },
        {
          "value": "",
          "label": "White"
        }
      ],
      "default": "",
      "label": "Background Color"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 3,
      "label": "t:sections.related-products.settings.products_to_show.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.related-products.settings.paragraph__1.content"
    }
  ]
}
{% endschema %}