{% style %}
  .lg-reviews {
    padding-top: calc({{ settings.row-padding }}px * 0.75);
    padding-bottom: calc({{ settings.row-padding }}px * 0.75);
    overflow-x: hidden;
    .owl-stage-outer {
      overflow: visible !important;
    }
    .owl-stage {
      display: flex !important;
      align-items: stretch;
      position: relative;
    }
    .item {
      height: 100%;
    }
    .lg-section-header {
      .lg-stars svg path {
        fill: {{ settings.color-yellow }};
        .bg-dark {
          fill: {{ settings.color-yellow }};
        }
        .bg-light {
          fill: {{ settings.color-yellow-darkest }};
        }
      }
      p {
        margin-top: 4px;
      }
    }
    .button-container {
      margin-top: 0;
    }
  }
  .lg-reviews-carousel {
    margin: calc({{ settings.row-padding }}px * 0.5) 0;
  }
  .lg-review-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;
    border-radius: 12px;
    .lg-review-footer, .lg-review-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .lg-review-header {
      h4 {
        margin: 0;
      }
      p {
        margin: 0;
        line-height: 24px;
        color: {{ settings.color-gray }};
      }
      svg {
        height: 16px;
        width: auto;
        path {
          fill: {{ settings.color-blue-darkest }};
          .bg-green & {
            fill: {{ settings.color-green-darkest }};
          }
          .bg-purple & {
            fill: {{ settings.color-purple-darkest }};
          }
          .bg-blue & {
            fill: {{ settings.color-blue-darkest }};
          }
        }
      }
      .lg-header-image {
        height: 48px;
        display: flex;
        align-items: center;
        img {
          max-height: 100%;
          max-width: 58px;
          height: auto;
          width: auto;
        }
      }
    }
    .lg-review {
      flex-grow: 1;
      p {
        margin: 15px 0;
      }
    }
    .lg-review-footer {
      .lg-source {
        font-style: italic;
        line-height: 1;
        margin: 2px 0 0;
        color: {{ settings.color-gray }};
      }
      .lg-stars svg path {
        .bg-green & {
          fill: {{ settings.color-green-darkest }};
        }
        .bg-purple & {
          fill: {{ settings.color-purple-darkest }};
        }
        .bg-blue & {
          fill: {{ settings.color-blue-darkest }};
        }
      }
    }
  }
  @media screen and (max-width: 479px) {
    .lg-reviews {
      padding-top: calc({{ settings.row-padding }}px * 0.5);
      padding-bottom: calc({{ settings.row-padding }}px * 0.5);
      .lg-section-header .lg-stars {
        display: none;
      }
    }
    .lg-reviews-carousel {
      margin: calc({{ settings.row-padding }}px * 0.375) 0;
    }
  }
{% endstyle %}

<div class="lg-reviews {{ section.settings.background-color }}">
  <div class="lg-review-slider lg-row">
    <div class="lg-section-header">
      <h2>
        {%- if section.settings.heading != blank -%}
          {{ section.settings.heading }}
        {%- else -%}
          Customer Reviews
        {%- endif -%}
      </h2>
      <div>
        <div class="lg-stars">
          {% for i in (1..5) %}
            {% render 'icons', icon: 'star' %}
          {% endfor %}
        </div>
        <p>5.0 Star Rating based on <span class="review-count">400+</span> Reviews</p>
      </div>
    </div>
    <div class="lg-reviews-carousel owl-carousel owl-theme">     
      {%- for review in metaobjects.review.values limit: 10 -%}
        {%- if review.type == section.settings.type -%}
          <div class="item">
            <div class="lg-card lg-review-card bg-white">
              <div class="lg-review-header">
                <div class="lg-header-content">
                  <h4>{{ review.name }} {% render 'icons', icon: 'verified' %}</h4>
                  {%- if review.type == "Custom" -%}
                    <p>{{ review.project }}</p>
                  {%- elsif review.type == "Retail" -%}
                    <p>{{ review.orders }} {{ review.orders | pluralize: 'Order', 'Orders' }}</p>
                  {%- endif -%}
                  {%- if review.customer.orders_count == 3 -%}
                    {% for customer in customers %}
                      {{ customer }}
                    {% endfor %}
                  <p>3</p>
                  {%- endif -%}
                </div>
                <div class="lg-header-image">
                  <img
                    srcset="
                      {%- if review.image.width >= 165 -%}{{ review.image | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if review.image.width >= 360 -%}{{ review.image | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if review.image.width >= 533 -%}{{ review.image | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if review.image.width >= 720 -%}{{ review.image | image_url: width: 720 }} 720w,{%- endif -%}
                      {%- if review.image.width >= 940 -%}{{ review.image | image_url: width: 940 }} 940w,{%- endif -%}
                      {%- if review.image.width >= 1066 -%}{{ review.image | image_url: width: 1066 }} 1066w,{%- endif -%}
                      {{ review.image | image_url }} {{ review.image.width }}w
                    "
                    src="{{ review.image | image_url: width: 533 }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                    alt="{{ review.image.alt | escape }}"
                    class="motion-reduce"
                    loading="lazy"
                    width="{{ review.image.width }}"
                    height="{{ review.image.height }}"
                  >
                </div>
              </div>
              <div class="lg-review"><p>{{ review.review }}</p></div>
              <div class="lg-review-footer">
                <div class="lg-stars">
                  {% for i in (1..5) %}
                    {% render 'icons', icon: 'star' %}
                  {% endfor %}
                </div>
                <p class="lg-source">{{ review.source }}</p>
              </div>
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
    <div class="lg-section-footer">
      <div class="button-container">
        <a class="button{% if section.settings.background-color == "bg-green" or section.settings.background-color == "bg-purple" or section.settings.background-color == "bg-blue" %} outline{% endif %}" href="/pages/reviews">Read All Reviews</a>
      </div>
    </div>
  </div>
</div>

{% javascript %}
  $('.lg-reviews-carousel').owlCarousel({
      responsiveClass: true,
      loop: true,
      nav: false,
      dots: false,
      autoplay: true,
      autoplayTimeout: 10000,
      autoplayHoverPause: true,
      responsive: {
          0:{
              items: 1,
              margin: 10
          },
          480:{
              items: 1,
              margin: 15
          },
          768:{
              items: 2,
              margin: 20
          },
          1024:{
              items: 3,
              margin: 20
          }
      }
  });
{% endjavascript %}

{% schema %}
{
  "name": "Reviews",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "background-color",
      "options": [
        {
          "value": "bg-dark",
          "label": "Dark"
        },
        {
          "value": "bg-light",
          "label": "Light"
        },
        {
          "value": "bg-green",
          "label": "Green"
        },
        {
          "value": "bg-purple",
          "label": "Purple"
        },
        {
          "value": "bg-blue",
          "label": "Blue"
        }
      ],
      "default": "bg-purple",
      "label": "Background Color"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "type",
      "options": [
        {
          "value": "Custom",
          "label": "Custom Pins"
        },
        {
          "value": "Retail",
          "label": "Retail Pins"
        }
      ],
      "default": "Custom",
      "label": "Review Type"
    },
  ],
  "presets": [
    {
      "name": "Reviews"
    }
  ]
}
{% endschema %}
